[Unit]
Description=Yggdrasil lego ACME certificate renewal
Documentation=man:lego(1) https://go-acme.github.io/lego/
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
EnvironmentFile=/etc/ygg/certs/lego.local.env
ExecStart=/opt/ygg/certs/run.sh
StandardOutput=journal+console
StandardError=journal+console

User=root
Group=root

[Install]
WantedBy=multi-user.target
