[Unit]
Description=Run ygg-lego-cert.service every three days to manage certificates
Requires=ygg-lego-cert.service

[Timer]
# Run every 3 days
OnUnitActiveSec=3d
# Spread load on ACME servers.
RandomizedDelaySec=12h
# Run on next boot if a scheduled run was missed.
Persistent=true
Unit=ygg-lego-cert.service

[Install]
WantedBy=timers.target
