[Unit]
Description=Yggdrasil ZFS shift snapshot prune timer

[Timer]
OnBootSec=35m
OnUnitActiveSec=12h
RandomizedDelaySec=20m
Persistent=true
Unit=ygg-shift-prune.service

[Install]
WantedBy=timers.target
