alias clc="IS_SANDBOX=1 claude --dangerously-skip-permissions"
alias cx="CODEX_HOME=/root/.codex-litellm /root/gh/codex-litellm/codex/codex-rs/target/debug/codex"
alias cdxl='CODEX_HOME=~/.codex-litellm codex-litellm'
